body {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
}

h1 {
    font-family: 'Fascinate', cursive;
    font-size: 40px;
    display: block;
    text-align: center;
    width: auto;
    margin: 0 auto;
    padding: 15px;
    letter-spacing: 2px;
    background: #2a90e4;
    border: 2px dashed white;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 0 4px #2a90e4;
}

.text {
    width: 500px;
    margin: 20px auto;
} 

.modal_img {
    width: 500px;
    margin: 20px auto;
    transition: 0.5s ease;
    cursor: pointer;
}


.modal_img:hover {
    transform: scale(1.15);
}


.modalShow {
    cursor: pointer;
    font-family: 'Helvetica', sans-serif;
    font-size: 10px;
    font-weight: bold;
    display: block;
    text-align: center;
    width: 100px;
    height: 30px;
    line-height: 0;
    margin: 10px auto;
    padding: 10px;
    background: #fff;
    border: 2px dashed #2a90e4;
    color: #2a90e4;
}

.modalWrap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(42, 144, 228, .8);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text_modal {
    padding: 20px;
}

.modal {
    width: 350px;
    height: 250px;
    border: 1px dashed #2a90e4;
    background: #fff;
    flex: 0 1 auto;
    align-self: auto;
    position: relative;
}

.round-close {
    position: absolute;
    right: 0;
    margin: 5px;
    border: 1px dashed #2a90e4;
    border-radius: 100%;
    background:  #2a90e4;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
    cursor: pointer;
}

.close {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 12px;
    border: 1px dashed #2a90e4;
    background:  #2a90e4;
    color: #fff;
    width: auto;
    padding: 5px;
    border-radius: 10%;
    text-align: center;
    line-height: 14px;
    cursor: pointer;

}

.hide {
    display: none;
}

.link {
    display: flex;
    justify-content: flex-end;
}

.linking {
    margin-right: 30px;
    text-decoration: none;
    color: #2a90e4;
}